<div id="about" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header">
            <input type="hidden">
            <div class="uk-text-center">
                <div id="about-logo">steemDeck</div>
                <div class="uk-text-muted">v0.1</div>
                <div class="uk-grid uk-margin-top uk-text-large">
                    <div class="uk-width-1-2">
                        <a href="https://steemit.com/@mkt" target="_blank" id="about-avatar"></a>
                        by <a href="https://steemit.com/@mkt" target="_blank" class="uk-button-link">@mkt</a>
                    </div>
                    <div class="uk-width-1-2">
                        <a href="https://github.com/mktcode/steemit-wall" target="_blank">
                            <i class="uk-icon-github uk-icon-large" style="font-size: 60px;"></i><br>
                            GitHub
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>