<script type="text/x-template" id="bottom-bar-template">
    <nav class="uk-navbar" id="bottom-bar">
        <div class="uk-navbar-content">
            <a href="#submit-story" data-uk-modal class="uk-button uk-button-success">
                <i class="uk-icon-pencil"></i> Submit a Story
            </a>
        </div>

        <ul class="uk-navbar-nav uk-navbar-flip">
            <li>
                <a href="#settings" data-uk-modal title="Settings" data-uk-tooltip="{pos: 'left'}">
                    <i class="uk-icon-cog"></i>
                </a>
            </li>
        </ul>

        <transition name="fade">
            <div v-if="rows.length != 0" class="uk-navbar-content uk-navbar-flip">
                <a href="#add-row" data-uk-modal class="uk-button uk-button-success">
                    <i class="uk-icon-plus"></i> Add Row
                </a>
            </div>
        </transition>
    </nav>
</script>