{% extends 'base.html.twig' %}

{% block body %}
    <div id="steemline">
        {% include 'default/navbar.html.twig' %}

        <transition-group name="lines" tag="div" id="lines">
            <sw-line v-for="(line, key) in lines"
                    :lines="lines"
                    :line="line"
                    :index="key"
                    :key="line.id"
                    :account="account"
                    @remove="removeLine(key, $event)"
                    @up="lineUp(key, $event)"
                    @down="lineDown(key, $event)">
            </sw-line>
        </transition-group>

        {% include 'default/add-line-modal.html.twig' %}
        <sw-post-modal v-if="post" :post="post" :account="account"></sw-post-modal>
    </div>

    {% include 'default/line-template.html.twig' %}
    {% include 'default/post-template.html.twig' %}
    {% include 'default/post-modal-template.html.twig' %}
{% endblock %}
