{% extends 'base.html.twig' %}

{% block body %}
    <div id="steemline">
        {% include 'default/navbar.html.twig' %}

        <transition-group name="lines" tag="div" id="lines">
            <sw-line v-for="(line, key) in lines"
                    v-bind:lines="lines"
                    v-bind:line="line"
                    v-bind:index="key"
                    v-bind:key="line.id"
                    v-on:remove="removeLine(key, $event)"
                    v-on:up="lineUp(key, $event)"
                    v-on:down="lineDown(key, $event)">
            </sw-line>
        </transition-group>

        {% include 'default/add-line-modal.html.twig' %}
    </div>

    {% include 'default/line-template.html.twig' %}
    {% include 'default/post-template.html.twig' %}
{% endblock %}
