{% extends 'base.html.twig' %}

{% block body %}
    <div id="steemwall">
        {% include 'default/navbar.html.twig' %}

        <transition-group name="rows" tag="div" id="rows">
            <sw-row v-for="(row, key) in rows"
                    v-bind:rows="rows"
                    v-bind:row="row"
                    v-bind:index="key"
                    v-bind:key="row.id"
                    v-on:remove="removeRow(key, $event)"
                    v-on:up="rowUp(key)"
                    v-on:down="rowDown(key)">
            </sw-row>
        </transition-group>
    </div>

    {% include 'default/row-template.html.twig' %}
    {% include 'default/post-template.html.twig' %}
{% endblock %}
