<script type="text/x-template" id="line-template">
    <div class="line">
        <div class="uk-slider-container" style="position: relative;">
            <nav class="uk-navbar line-header">
                <ul v-if="line.type == 'hot' || line.type == 'trending'" class="uk-navbar-nav">
                    <li>
                        <a v-on:click="refreshPosts" class="uk-text-muted" href="#" title="refresh" data-uk-tooltip="{pos:'bottom-right'}">
                            <i :class="'uk-icon-refresh' + (refreshing ? ' uk-icon-spin' : '')"></i>
                        </a>
                    </li>
                </ul>
                <ul v-if="newPosts.length && line.type != 'hot' && line.type != 'trending'" class="uk-navbar-nav">
                    <li>
                        <a v-on:click="showNewPosts" href="#" title="show new posts" data-uk-tooltip="{pos:'bottom-right'}">
                            <span class="uk-badge uk-badge-notification">
                                {% verbatim %}{{ newPosts.length }}{% endverbatim %}
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="uk-navbar-content uk-text-large line-title">
                    {% verbatim %}{{ line.type }} <span class="uk-text-muted" v-if="line.tag">#{{ line.tag }}</span>{% endverbatim %}
                </div>
                <ul class="uk-navbar-nav uk-navbar-flip">
                    <li>
                        <a v-if="index != 0" href="#" data-uk-tooltip title="move up" class="uk-text-muted" v-on:click="$emit('up')">
                            <i class="uk-icon-angle-up"></i>
                        </a>
                    </li>
                    <li>
                        <a v-if="index != lines.length - 1" href="#" data-uk-tooltip title="move down" class="uk-text-muted" v-on:click="$emit('down')">
                            <i class="uk-icon-angle-down"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="uk-text-muted" data-uk-tooltip title="load older posts" v-on:click="getOlderPosts">
                            <i class="uk-icon-angle-double-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-uk-tooltip title="close" class="uk-text-muted" v-on:click="$emit('remove', $event)">
                            <i class="uk-icon-times"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="scroll-indicator-container">
                <div class="scroll-indicator"></div>
            </div>
            <ul class="uk-slider uk-grid-width-medium-1-2 uk-grid-width-large-1-4">
                <sw-post v-for="post in posts" v-bind:key="post.id" v-bind:post="post"></sw-post>
            </ul>
        </div>
    </div>
</script>