{% verbatim %}
<script type="text/x-template" id="post-template">
    <li class="post uk-animation-fade">
        <a class="post-image open-post" href="#post" v-bind:style="'background-image: url(https://steemitimages.com/400x400/' + image + ');'"></a>
        <div class="post-info">
            <h3 class="uk-text-truncate uk-margin-remove">
                <a href="#post" class="open-post">{{ post.title }}</a>
            </h3>
            <div class="uk-text-small uk-text-muted">
                an hour ago
                by <a v-bind:href="'https://steemit.com/@' + post.author" target="_blank">{{ post.author }}</a>
                <span class="reputation">55</span>
                in <a v-bind:href="'https://steemit.com/trending/' + post.category" target="_blank">{{ post.category }}</a>
            </div>
            <hr class="uk-margin-small-top uk-margin-small-bottom">
            <div class="uk-text-muted uk-text-center uk-grid">
                <div class="uk-width-1-3">
                    $ 69.24
                </div>
                <div class="uk-width-1-3">
                    <i class="uk-icon-angle-up"></i> 54
                </div>
                <div class="uk-width-1-3">
                    <i class="uk-icon-comments"></i> {{ post.children }}
                </div>
            </div>
        </div>
    </li>
</script>
{% endverbatim %}