<div id="post" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header">
            <h2>Widgets Generator: Steemit On Your Website! Now Even Easier!</h2>
            <div class="post-info uk-grid">
                <div class="uk-width-2-3">
                    <a href="https://steemit.com/@mkt" class="post-avatar"></a>
                    <a href="https://steemit.com/@mkt" class="post-author">mkt</a>
                    <span class="post-author-reputation">55</span>
                    in <a href="https://steemit.com/@mkt" class="post-category">steemdev</a>
                </div>
                <div class="uk-width-1-3 uk-text-right">
                    3 days ago
                </div>
            </div>
        </div>
        <div class="post-body">
            <p><img src="https://steemitimages.com/0x0/https://steemitimages.com/DQmZsdpW3fByAX5SsM92ZTGhShyPqkcNHP3QLDXmrwsWG3p/update-generator.png" alt="update-generator.png"></p>
            <h3>It is now even easier to display content from steemit.com on your own website!</h3>
            <h3></h3>
            <p>On top of my <a href="https://mktcode.github.io/steemit-widgets/index.html" rel="noopener">Widgets Plugin</a> I built a <a href="https://mktcode.github.io/steemit-widgets/generator.html" rel="noopener">generator tool</a>. You can simply choose what content you want to display (profile, blog, feed, new, hot, trending), select a design and adjust some settings and you get a short code at the bottom of the page that you can just paste in your website's HTML.</p>
            <p><a href="https://mktcode.github.io/steemit-widgets/generator.html" rel="noopener"><img src="https://steemitimages.com/0x0/https://steemitimages.com/DQmaCNBJDodCBZzW5yibS4aAkXwvVT5vMwg93yKb3UDAGSe/generator.png" alt="generator.png"></a></p>
            <p>You can see an example on my website: <a href="https://markus-kottlaender.de" rel="noopener">https://markus-kottlaender.de</a></p>
            <p>I think there isn't much explanation needed. The tool is really easy to use. You can choose between two different styles.</p>
            <p><strong>Default</strong> with adjustable color and border<br>
                <strong>Condenser</strong> which just looks like steemit.com</p>
            <p>Every part of a widget can be shown or hidden. You can even set the precision for reputation and voting power.</p>
            <p>There are also some minor changes/fixes in the plugin itself. The reputation score is now rounded correctly when using no decimal digits and the authors reputation can now also be displayed in the post template for blog, feed, new, etc. And I'm sure there were some more little adjustments but nothing worth mentioning here.</p>
            <p>Of course I will continue to improve it over time. Maybe I'll add some more designs and display options. But for now please...</p>
            <h1><center><a href="https://mktcode.github.io/steemit-widgets/generator.html" rel="noopener">Try it!</a></center></h1>
            <h1><center>And give me some feedback!<br>If you experience any issues, find a bug or have suggestions PLEASE let me know!</center></h1>
            <h1></h1>
            <p>It might well be that there are still some style issues in some browsers or on some websites. In any case make sure to submit your link in the comments if you implemented a widget on your website!</p>
            <p>If you like it please resteem this post or write your own so the tool can gain some popularity. I'm pretty sure there are enough people with a website out there on steemit who might want to use it. Thanks to <a href="/@finleyexp">@finleyexp</a>, <a href="/@tommycee">@tommycee</a> and <a href="/@pir8aye">@pir8aye</a> for already doing so. Maybe you also want to try the new generator and adjust the output and styling.</p>
            <p>Also special thanks to <a href="/@transisto">@transisto</a> for supporting me so much and listing my tools on <a href="http://steemtools.com" rel="noopener">steemtools.com</a>.</p>
            <p>And thank you <a href="/@steemcenterwiki">@steemcenterwiki</a> for listing me on <a href="https://www.steem.center/index.php?title=Steem_Ecosystem:Steemit-Steen" rel="noopener">Steem.center</a>!</p>
            <p>It feels really great to contribute something to this amazing community and receive so much appreciation in exchange! Thank you!</p>
            <hr>
            <p>After <a href="https://steemit.com/steemdev/@mkt/steemit-wall-multifeed-for-steemit-com">Steemit Wall</a> this is the second time I used <a href="https://vuejs.org/" rel="noopener">Vue.js</a> and really.... it's awesome! I definitely make some progress. If you want to take a look at the code visit the <a href="https://github.com/mktcode/steemit-widgets/blob/master/docs/assets/js/generator.js" rel="noopener">github repository</a>.</p>
            <p>And sorry for not commenting my code... I will add comments later... sometime... :P</p>
            <hr>
            <p></p><center><a href="https://steemit.com/@mkt"><img src="https://steemitimages.com/0x0/https://steemitimages.com/0x0/https://steemitimages.com/DQmNv1zxujkKXH4LvDbDCzqQamLHesp1PpocBwPTpMHPdzf/header-logo.png" alt="mkt"></a></center><br>
            <center>Technology/Science/Future<br>Nature/Environment/Sustainability<br>Creativity/Programming<br><br><sup>shared and original content</sup></center><br>
            <center><a href="https://steemit.com/introduceyourself/@mkt/i-m-just-a-dreamer">about me</a></center><p></p>
        </div>
        <div class="post-tags uk-margin-large-top">
            <span class="uk-badge">steemdev</span>
            <span class="uk-badge">steemjs</span>
            <span class="uk-badge">steemit</span>
            <span class="uk-badge">website</span>
            <span class="uk-badge">programming</span>
        </div>
        <div class="uk-grid post-info uk-margin-top">
            <div class="uk-width-2-3">
                3 days ago by
                <a href="https://steemit.com/@mkt" class="post-author">mkt</a>
                <span class="post-author-reputation">55</span>
                <span class="uk-margin-small-left uk-margin-small-right">|</span>
                $60.50
                <span class="uk-margin-small-left uk-margin-small-right">|</span>
                56 votes
            </div>
            <div class="uk-width-1-3 uk-text-right">
                <a href="#" class="uk-margin-small-right">reply</a>
                <i class="uk-icon-comments"></i> 21
                <i class="uk-icon-eye"></i> 68
            </div>
        </div>
        <hr>
        <h3>Replies</h3>
        <div class="post-comments">
            <ul class="uk-comment-list">
                <li>
                    <article class="uk-comment post-comment">
                        <header class="uk-comment-header">
                            <img class="uk-comment-avatar" src="https://getuikit.com/v2/docs/images/placeholder_avatar.svg" alt="">
                            <h4 class="uk-comment-title">
                                Totam laudantium nemo dolorem enim ut et. Veniam blanditiis nesciunt quas vel rem iste. Quasi ipsam repellendus dicta quia illum tempora consequatur cum.
                            </h4>
                            <ul class="uk-comment-meta uk-subnav uk-subnav-line">
                                <li>by <a href="#">mkt</a> <span class="comment-author-reputation">55</span></li>
                                <li>$ 0.01</li>
                                <li>1 vote</li>
                                <li><a href="#">reply</a></li>
                            </ul>
                        </header>
                    </article>
                    <ul>
                        <li>
                            <article class="uk-comment post-comment">
                                <header class="uk-comment-header">
                                    <img class="uk-comment-avatar" src="https://getuikit.com/v2/docs/images/placeholder_avatar.svg" alt="">
                                    <h4 class="uk-comment-title">
                                        Totam laudantium nemo dolorem enim ut et. Veniam blanditiis nesciunt quas vel rem iste. Quasi ipsam repellendus dicta quia illum tempora consequatur cum.
                                    </h4>
                                    <ul class="uk-comment-meta uk-subnav uk-subnav-line">
                                        <li>by <a href="#">mkt</a> <span class="comment-author-reputation">55</span></li>
                                        <li>$ 0.01</li>
                                        <li>1 vote</li>
                                        <li><a href="#">reply</a></li>
                                    </ul>
                                </header>
                            </article>
                        </li>
                    </ul>
                </li>
                <li>
                    <article class="uk-comment post-comment">
                        <header class="uk-comment-header">
                            <img class="uk-comment-avatar" src="https://getuikit.com/v2/docs/images/placeholder_avatar.svg" alt="">
                            <h4 class="uk-comment-title">
                                Totam laudantium nemo dolorem enim ut et. Veniam blanditiis nesciunt quas vel rem iste. Quasi ipsam repellendus dicta quia illum tempora consequatur cum.
                            </h4>
                            <ul class="uk-comment-meta uk-subnav uk-subnav-line">
                                <li>by <a href="#">mkt</a> <span class="comment-author-reputation">55</span></li>
                                <li>$ 0.01</li>
                                <li>1 vote</li>
                                <li><a href="#">reply</a></li>
                            </ul>
                        </header>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</div>