<div id="replies" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header">
            <h3>Replies</h3>
        </div>
        <div class="uk-modal-header">
            <form class="uk-form uk-text-center">
                <input type="text" placeholder="Search" class="uk-form-large uk-width-1-1">
            </form>
        </div>
        <article class="uk-comment">
            <header class="uk-comment-header">
                <img class="uk-comment-avatar" src="https://getuikit.com/v2/docs/images/placeholder_avatar.svg" alt="">
                <h4 class="uk-comment-title"><a href="#">Lorem Ipsum dolor sit amet...</a></h4>
                <div class="uk-comment-meta"><a href="#">@mkt</a> on Sun 21, June 2017</div>
            </header>
            <div class="uk-comment-body">...</div>
        </article>
        <ul class="uk-pagination">
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
            <li class="uk-disabled"><span><i class="uk-icon-angle-left"></i></span></li>
            <li class="uk-active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><span>...</span></li>
            <li><a href="#"><i class="uk-icon-angle-right"></i></a></li>
            <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
        </ul>
    </div>
</div>