{% verbatim %}
<script type="text/x-template" id="row-template">
    <div data-uk-slider="{infinite: false, threshold: 50}" class="row">
        <div class="uk-slider-container" style="position: relative;">
            <nav class="uk-navbar row-header">
                <ul class="uk-navbar-nav">
                    <li>
                        <a v-bind:click="getNewPosts" href="#" class="uk-text-muted" title="load new posts" data-uk-tooltip="{pos:'bottom-right'}">
                            <span v-if="true" class="uk-badge uk-badge-notification uk-margin-small-right">1</span>
                            <i class="uk-icon-refresh"></i>
                        </a>
                    </li>
                </ul>
                <div class="uk-navbar-content uk-text-large row-title uk-padding-remove">
                    {{ row.type }} <span class="uk-text-muted">#{{ row.tag }}</span>
                </div>
                <ul class="uk-navbar-nav uk-navbar-flip">
                    <li>
                        <a v-if="index != 0" href="#move-up" class="uk-text-muted row-sort-handle" v-on:click="$emit('up')">
                            <i class="uk-icon-angle-up"></i>
                        </a>
                    </li>
                    <li>
                        <a v-if="index != rows.length - 1" href="#move-down" class="uk-text-muted row-sort-handle" v-on:click="$emit('down')">
                            <i class="uk-icon-angle-down"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#close" class="uk-text-muted" v-on:click="$emit('remove', $event)">
                            <i class="uk-icon-times"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="scroll-indicator-container">
                <div class="scroll-indicator"></div>
            </div>
            <ul class="uk-slider uk-grid-width-medium-1-2 uk-grid-width-large-1-4">
                <sd-post v-for="post in posts" v-bind:key="post.id" v-bind:post="post"></sd-post>
            </ul>
        </div>
    </div>
</script>
{% endverbatim %}