<div id="settings" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header">
            <h3>Settings</h3>
        </div>
    </div>
</div>